{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>
            jQuery.noConflict();
            (function( $ ) {
            $(function() {
                $(document).ready(function() {
                    $('#loading-href').click(function(){
                        href = $(this).attr('href');
                        console.log(href)
                        $('#load-area').attr('src', href)
                        /*$('#load-area').ready(function(){
                            alert('ready')
                            $('#load-area').contents().click(function(event) {
                                alert($(event.target).attr('class'));
                            });                    
                        });*/
                        return false;
                    });
                    
                    $('#loading-href').click(function(){
                        href = $(this).attr('href');
                        console.log(href)
                        $('#load-area').attr('src', href)
                        /*$('#load-area').ready(function(){
                            alert('ready')
                            $('#load-area').contents().click(function(event) {
                                alert($(event.target).attr('class'));
                            });                    
                        });*/
                        return false;
                    });
                    
                    function getAllParent(e) {
                        e.parentsUntil('html').each(function(){
                            
                        });
                    };
                    
                    $('#lets-start').click(function(){
                        var $iframe = $('#load-area');
                        var $head = $iframe.contents().find("head");                
                        $head.append($("<link/>", 
                        { rel: "stylesheet", href: "{% static 'css/border.css' %}", type: "text/css" }));
                        $iframe.contents().click(function(event) {
                            alert($(event.target).attr('class'));
                            getAllParent(event.target);
                            return false;
                        });
                        $iframe.contents().mouseover(function(event) {
                            $(event.target).addClass('super-mega-border987');    
                        });
                        $iframe.contents().mouseout(function(event) {
                            $(event.target).removeClass('super-mega-border987');   
                        });
                        return false;
                    });
                });
            });
            })(jQuery);
        </script>
        <style>
            #load-area {
                width: 900px;
                height: 400px;
                background: blue;
            }
            .super-mega-border987 {
                border: dotted 2px red;
            }
        </style>
    </head>
    <body>
        <a id="loading-href" href="/www_return/index.html">загрузить</a>
        <a id="lets-start" href="">приступить</a>
        <iframe id="load-area" src="">
            test0
        </iframe>
    </body>
</html>