{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{% static 'js/jquery.json-2.4.min.js' %}"></script>
        <script>
            jQuery.noConflict();
            (function( $ ) {
            $(function() {
                $(document).ready(function() {
                    $('#loading-href').click(function(){
                        href = $(this).attr('href');
                        console.log(href)
                        $('#load-area').attr('src', href)
                        /*$('#load-area').ready(function(){
                            alert('ready')
                            $('#load-area').contents().click(function(event) {
                                alert($(event.target).attr('class'));
                            });                    
                        });*/
                        return false;
                    });
                    
                    $('#loading-href').click(function(){
                        href = $(this).attr('href');
                        console.log(href)
                        $('#load-area').attr('src', href)
                        /*$('#load-area').ready(function(){
                            alert('ready')
                            $('#load-area').contents().click(function(event) {
                                alert($(event.target).attr('class'));
                            });                    
                        });*/
                        return false;
                    });
                    
                    
                    $('#lets-start').click(function(){
                        var $iframe = $('#load-area');
                        var $head = $iframe.contents().find("head");                
                        $head.append($("<link/>", 
                        { rel: "stylesheet", href: "{% static 'css/border.css' %}", type: "text/css" }));
                        /*$iframe.contents().click(function(event) {
                            alert($(event.target).attr('class'));
                            getAllParent(event.target);
                            return false;
                        });*/
                        $iframe.contents().mouseover(function(event) {
                            $(event.target).addClass('super-contrast-416');    
                        });
                        $iframe.contents().mouseout(function(event) {
                            $(event.target).removeClass('super-contrast-416');   
                        });
                        return false;
                    });
                    
                    $('#mark-header').click(function(){
                        $('#load-area').contents().click(function(event) {
                            $(event.target).removeClass('super-contrast-416');
                            var n = -1;
                            var head_str = '';
                            idd='';
                            classs='';
                            if ( event.target.id ) {idd=' id="'+event.target.id+'"'}
                            if ( $(event.target).attr('class') ) {classs=' class="'+$(event.target).attr('class')+'"'}
                            head_str = head_str + '<'+event.target.nodeName+idd+classs+'>'+','
                            $(event.target).addClass('rss-super-header514');
                            $.when($(event.target).parentsUntil('html').each(function(){
                                n = n + 1
                                console.log(this.nodeName + ' ' + n)
                                console.log(this.id)
                                if ( this.id ) {idd=' id="'+this.id+'"'}
                                if ( $(this).attr('class') ) {classs=' class="'+$(this).attr('class')+'"'}
                                head_str = head_str + '<'+this.nodeName+idd+classs+'>'+','
                            })).then(function( data, textStatus, jqXHR ) {
                                alert(head_str);
                            })
                            //$(event.target).addClass('super-mega-border987');
                            return false;
                        });
                        return false;  
                    });
                    $('#mark-desc').click(function(){
                        $('#load-area').contents().click(function(event) {
                            $(event.target).addClass('rss-super-desc456')
                            return false;
                        });
                        return false;  
                    });
                    $('#rss-final').click(function(){
                        alert('final');
                        return false;  
                    });
                });
            });
            })(jQuery);
        </script>
        <style>
            #load-area {
                width: 100%;
                height: 100%;
                min-height: 500px;
                background: blue;
            }
        </style>
    </head>
    <body>
        <!--<a id="loading-href" href="/www_return/{{ url }}">загрузить</a>-->
        <a id="lets-start" href="">приступить</a><br>
        <a id="mark-header" href="">отметить заголовок</a>
        <a id="mark-desc" href="">отметить анонс (если есть)</a>
        <a id="rss-final" href="">RSS IT!</a>
        <iframe id="load-area" src="/www_return/{% if url %}{{ url }}.html{% else %}lenta.ru/index.html{% endif %}">
        <!--<iframe id="load-area" src="/www_return/lenta.ru/index.html">-->
            /home/serikov/rssit/www_response/
            test0
        </iframe>
    </body>
</html>